PORT=3000
NODE_ENV = development
MONGO_URL=mongodb+srv://alinamelnik041_db_user:bIDadEVoyLZLvvlP@cluster0.7o5omtk.mongodb.net/nodejs-hw?appName=Cluster0

JWT_SECRET=nodejshw2026SecretResetPasswordKeyXyz789
FRONTEND_DOMAIN=http://localhost:3001

FRONTEND_DOMAIN=http://localhost:3001

CLOUDINARY_CLOUD_NAME=sw9pu7nc
CLOUDINARY_API_KEY=762868823144529
CLOUDINARY_API_SECRET=h0z-r2NBfu2WWaS3FPaPTBr0PBY
